
<header class="hero-unit" id="banner">
  <div class="container">
    <p class="lead">Lista de clientes</p>
    <i class='fa fa-users' style="font-size: 40px;"></i>
  </div>
</header>

<div class="container">
    <div class="row">
        <div class="box box-info page-header">
            <div class="box-header">
                <h3 class="box-title">Clientes ({{costumers.length}})</h3>
            </div>
            <div class="box-body table-responsive">
                <a type="button" href="/costumeradd" class="btn btn-primary btn-sm">Novo cliente</a><p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Versão</th>
                            <th>Status</th>
                            <th>Última atualização</th>
                            <th>Hash</th>
                            <th>Admin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cli in costumers">
                            <td>{{cli.name}}</td>
                            <td>{{cli.version}}</td>
                            <td>
                                <i ng-show="cli.status==='waiting'" class="glyphicon glyphicon-flash"></i>
                                <i ng-show="cli.status==='running' || (cli.status === 'waiting' && cli.command==='start')" class="glyphicon glyphicon-play"></i>
                                <i ng-show="cli.status==='stoped' || (cli.status === 'waiting' && cli.command==='stop')" class="glyphicon glyphicon-stop"></i>
                                <i ng-show="cli.status === 'waiting' && cli.command==='update'" class="glyphicon glyphicon-refresh"></i>
                            </td>
                            <td>{{cli.lastUpdate | date:'dd/MM/yyyy HH:mm'}}</td>
                            <td>{{cli.hash}}</td>
                            <td>
                                  <a href="#" ng-click="start(cli.hash)">
                                      <i class="glyphicon glyphicon-play"></i>
                                  </a>
                                  <a href="#" ng-click="stop(cli.hash)">
                                      <i class="glyphicon glyphicon-stop"></i>
                                  </a>
                                  <a href="#" ng-click="update(cli.hash)">
                                      <i class="glyphicon glyphicon-refresh"></i>
                                  </a>                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>